In [1]:
import pandas as pd
print(pd.__version__)

0.22.0

#### Link for documentation of pandas read_csv:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv

In [118]:
data = pd.read_csv('nyc_weather.csv',parse_dates = True, index_col = [0] )
data.head()
data.loc['2016-01-02']

Temperature                36
DewPoint                   18
Humidity                   46
Sea Level PressureIn    30.02
VisibilityMiles            10
WindSpeedMPH                7
PrecipitationIn             0
CloudCover                  3
Events                    NaN
WindDirDegrees            275
Name: 2016-01-02 00:00:00, dtype: object

In [147]:
## Creating dataframe using dictionaries
weather_data = {
    'day':['01-07-2017', '01-08-2017'],
    'temp': [32,32],
    'windspeed': [6,7]
}
df = pd.DataFrame(weather_data)
df.head()

          day  temp  windspeed
0  01-07-2017    32          6
1  01-08-2017    32          7

In [154]:
df.set_index('day', inplace = True)
df.index.names = ['Date']

In [155]:
df.index = pd.to_datetime(df.index, format = '%d-%m-%Y')

In [156]:
df.head()

            temp  windspeed
Date
2017-07-01    32          6
2017-08-01    32          7

In [93]:
type(df.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [94]:
rows, cols = df.shape
print(rows, cols)

2 2

In [159]:
col_names = df.columns
print(col_names)

Index(['temp', 'windspeed'], dtype='object')

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2017-07-01 to 2017-08-01
Data columns (total 2 columns):
temp         2 non-null int64
windspeed    2 non-null int64
dtypes: int64(2)
memory usage: 48.0 bytes

In [112]:
data.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [119]:
data.index.name = 'Date'

In [120]:
data.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
Date,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [128]:
print('min temp: %d,  max temp: %d'%(data.Temperature.min(),data.Temperature.max()))

min temp: 20,  max temp: 50

In [133]:
# sorting in descending order
data.Temperature.sort_values(ascending = False)[:10]

Date
2016-01-10    50
2016-01-16    47
2016-01-31    46
2016-01-09    44
2016-01-15    43
2016-01-26    43
2016-01-27    41
2016-01-03    40
2016-01-07    39
2016-01-08    39
Name: Temperature, dtype: int64

In [134]:
# to get stastical details about the dataset
data.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [145]:
#  conditional selection
## Syntx = dataframe[cdf_columns >=< 'value'][the selection columns]
##          FROM TABLE   [ WHERE CLAUSE]  [[COLUMN SELECTIONS]]
temp_32 = data[data.Temperature >= 32][['DewPoint','Humidity']]
temp_32[:10]

            DewPoint  Humidity
Date
2016-01-01        23        52
2016-01-02        18        46
2016-01-03        21        47
2016-01-06         4        35
2016-01-07        11        33
2016-01-08        29        64
2016-01-09        38        77
2016-01-10        46        71
2016-01-11         8        37
2016-01-12        15        53